* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}

#main-page {
    /* border: 1px solid brown; */
    padding: 40px;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
    background-color: #D7F486;
    color: black;
    border-radius: 6px;
    margin-top: 35px;
}

.highscores {
    padding: 40px;
    margin-left: 28%;
    margin-right: 28%;
    text-align: center;
    background-color: #D7F486;
    color: black;
    border-radius: 6px;
    margin-top: 35px;
    padding-bottom: 30%;
    ;
}

form {
    padding: 5px;
}

nav {
    margin-top: 35px;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

a {
    text-decoration: none;
    background-color: #F4A386;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

a:hover {
    color: black;
}

div p {
    padding: 10px;
}

button {
    padding: 5px;
    margin-top: 25px;
}